 .info {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 2.2rem;
     width: 100%;
     background-color: var(--secound-bg-color);
 }
 
 .no-scroll {
    overflow: hidden;
}

 .contact-data {
     display: flex;
 }

 .time {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
 }

 .time>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     margin-right: 0.5rem;
     color: #264070;
 }

 .mail {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
     margin-left: 2rem;
 }

 .mail>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     color: #264070;
     margin-right: 0.5rem;
 }

 .phone-number {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
     margin-left: 2rem;
 }

 .phone-number>span {
     font-size: 1.2rem;
     margin: 0.2rem 0.5rem;
     color: #264070;
 }

 .map-text {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
 }

 .map-text>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     margin-right: 0.5rem;
     color: #264070;
 }

 .navbar {
     width: 100%;
     height: 4rem;
     padding: 1rem 6%;
     background-color: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.9);
     box-shadow: 0.013rem 0.013rem 0.013rem 0.013rem var(--secound-bg-color);
     transition: .3s;
 }
 .navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    animation: slideDown 0.3s ease-in-out;
  }
 .logo>img {
     width: 8.75rem;
     height: 4rem;
     font-weight: 600;
 }

 .nav-links a {
     margin-left: 2.5rem;
     text-decoration: none;
     color: var(--secound-bg-color) ;
     font-size: 1.4rem;
     cursor: pointer;
 }

 .nav-links a:hover {
     color: var(--text-color);
 }

 .nav-links a.active {
     text-decoration: none;
     color: var(--text-color);
 }

 .navbar>.new-toggle {
     display: none;
 }


@media (max-width: 1180px) {

    .info {
        display: none;
    }

    .logo > img {
        width: 6.25rem;
        height: 3.125rem;
    }

    .nav-links {
        padding: 2rem;
    }

    .nav-links a {
        margin-top: 3rem;
        margin-left: 0;
        color: var(--title-color);
    }

    .navbar > .nav-links {
        position: fixed; 
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--secound-bg-color);
        box-shadow: 0.013rem 0.013rem 0.013rem 0.013rem #95959578;
        width: 70%; 
        height: 100%; 
        transform: translateX(-100%);
        transition: transform 0.45s ease-in-out;
        text-align: center;
        padding: 9% 0;
        z-index: 10;
    }

    .navbar > .nav-links.open {
        transform: translateX(0);
    }

    .navbar > .new-toggle {
        display: flex;
        width: 3.125rem;
        height: 3.125rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 11;
        font-size: 1.5rem;
        color: white;
    }   
    .navbar .nav-links .close-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        color: var(--title-color);
        cursor: pointer;
        z-index: 12;
    }
  
    .navbar .nav-links.open {
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--secound-bg-color);
        box-shadow: 0.013rem 0.013rem 0.013rem 0.013rem #000000;
        width: 70%;
        height: 100%;
        transform: translateX(0);
        transition: transform 0.45s ease-in-out;
        text-align: center;
        padding: 9% 0;
        z-index: 10;
    }
    .page-shift {
        transform: translateX(70%); 
        transition: transform 0.45s ease-in-out;
        overflow: hidden; 
    }
    
}
