 .info {
     display: flex;
     justify-content: space-around;
     align-items: center;
     height: 2.2rem;
     width: 100%;
     background-color: var(--secound-bg-color);
 }

 .contact-data {
     display: flex;
 }

 .time {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
 }

 .time>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     margin-right: 0.5rem;
     color: #264070;
 }

 .mail {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
     margin-left: 2rem;
 }

 .mail>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     color: #264070;
     margin-right: 0.5rem;
 }

 .phone-number {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
     margin-left: 2rem;
 }

 .phone-number>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     color: #264070;
     margin-right: 0.5rem;
 }

 .map-text {
     display: flex;
     align-items: center;
     font-size: 1rem;
     margin-top: 0.2rem;
 }

 .map-text>span {
     font-size: 1.2rem;
     margin-top: 0.2rem;
     margin-right: 0.5rem;
     color: #264070;
 }

 .navbar {
     width: 100%;
     height: 5rem;
     padding: 1rem 9%;
     background-color: transparent;
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.659);
     box-shadow: 0.013rem 0.013rem 0.013rem 0.013rem var(--secound-bg-color);
     transition: .3s;
 }

 .logo>img {
     width: 8.75rem;
     height: 4.8rem;
     font-weight: 600;
     margin: 1.5rem 2rem;
 }

 .nav-links a {
     margin-left: 2.5rem;
     text-decoration: none;
     color: var(--secound-bg-color);
     ;
     font-size: 1.4rem;
     cursor: pointer;
 }

 .nav-links a:hover {
     color: var(--text-color);
 }

 .nav-links a.active {
     text-decoration: none;
     color: var(--text-color);
 }

 .navbar>.new-toggle {
     display: none;
 }

 @media (max-width:907px) {
     .info {
         display: none;
     }

     .logo>img {
         width: 6.25rem;
         height: 3.125rem;
     }

     .nav-links a {
         margin-top: 5rem;
     }

     .navbar>.nav-links {
         position: absolute;
         top: 5rem;
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         background-color: rgba(0, 0, 0, 0.722);
         box-shadow: 0.013rem 0.013rem 0.013rem 0.013rem rgb(255, 255, 255);
         left: 0;
         width: 100%;
         height: auto;
         transform: translateX(-100%);
         transition: all .45s;
         text-align: center;
         padding: 9% 0;
     }

     .navbar>.nav-links.open {
         transform: translateX(0);
     }

     .navbar>.new-toggle {
         display: flex;
         width: 3.125rem;
         height: 3.125rem;
         justify-content: center;
         align-items: center;
         cursor: pointer;
     }

     .new-toggle>.bar {
         position: relative;
         width: 2rem;
         height: 0.125rem;
         background-color: white;
         transition: all .45s ease-in-out;
     }

     .new-toggle>.bar::before,
     .new-toggle>.bar::after {
         content: '';
         position: absolute;
         height: 0.125rem;
         background: white;
         border-radius: 0.125rem;
         transition: all .45s ease-in-out;
     }

     .new-toggle>.bar::before {
         width: 25px;
         transform: translateY(-8px);
         right: 0;
     }

     .new-toggle>.bar::after {
         width: 32px;
         transform: translateY(8px);
     }

     .new-toggle.open>.bar {
         transform: translateX(-40px);
         background: transparent;
     }

     .new-toggle.open>.bar::before {
         width: 32px;
         transform: rotate(45deg) translate(26px, -26px);
     }

     .new-toggle.open>.bar::after {
         transform: rotate(-45deg) translate(26px, 26px);
     }
 }