@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Playfair+Display:wght@500&family=Raleway:wght@100&family=Roboto+Condensed:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --secound-bg-color: rgb(254, 254, 254);
    --text-color: rgb(0, 104, 188);
    --content-color:#757575;
    --title-color: #2e363a;
}

::-webkit-scrollbar {
    width: 0.6rem;
}

::-webkit-scrollbar-track {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: var(--content-color);
    border-radius: 60vh;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--text-color);
}
