.footer {
  height: auto;
  width: 100%;
  color: #aaaaaa;
  display: flex;
  justify-content: space-between;
  background-color: var(--title-color);
  padding: 5% 5rem;
}

.pages_link>div>button {
  font-size: 1.5rem;
  color: #aaaaaa;
  margin: 0.8rem 0.1rem;
  cursor: pointer;
  border: none;
  background-color: var(--title-color);
}
.pages_link>div>button:hover {
  color: var(--text-color);
  transition: 0.7s ease;
}

.contact-content {
  border: 1px solid;
  padding: 0 0.7rem;
  border-top: none;
  border-bottom: none;
  border-color: #aaaaaa;
  height: 8rem;
}

.contact-content>p {
  font-size: 1.3rem;
  color: #aaaaaa;
  margin: 0.8rem 0.1rem;
}
.contact-content>p>span{
  margin-left: 0.5rem;
}
.website_icon {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 1.2rem;
}

.website_icon>div>a {
  font-size: 1.5rem;
  border: 1px solid;
  margin-right: 0.6rem;
  border: none;
  background-color: #60606091;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  color: var(--secound-bg-color);
  border-radius: 1rem;
}

.website_icon .fa>a:hover {
  background-color: #3b5998;
  transition: 0.6s ease-in-out;
}

.website_icon .in>a:hover {
  background-color: #e7406b;
  transition: 0.6s ease-in-out;
}

.website_icon .li>a:hover {
  background-color: #0e76a8;
  transition: 0.6s ease-in-out;
}

.website_icon .yt>a:hover {
  background-color: #ff0000;
  transition: 0.6s ease-in-out;
}

.website_icon .twit>a:hover {
  background-color: #1da1f2;
  transition: 0.6s ease-in-out;
}

.footer_text {
  height: 8vh;
  width: 100%;
  background-color: var(--title-color);
  border-top: 1px solid;
  border-color: #60606091;
}

.footer_text>p {
  margin-left: 8rem;
  margin-top: 1rem;
  text-align: left;
  font-size: 1.2rem;
  color: #aaaaaa;
}

.footer_logo>img {
  height: 10rem;
  width: 15rem;
}

@media (max-width: 1000px) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .pages {
    margin-top: 2rem;
  }

  .contact-us {
    margin-top: 2rem;
  }

  .website {
    margin-top: 2rem;
  }

  .footer_text>p {
    margin: 1rem 0;
    text-align: center;
  }

  .contact-content {
    border: none;
    padding: 0 0.1rem;
  }
}

@media (max-width: 550px) {
  .website>h2{
    margin-top: 1rem;
  }
  .contact-content>p {
    font-size: 1rem;
  }

  .website_icon>div>a {
    margin-top: 1rem;
  }
  
}