.top-btn{
    position: fixed;
    height: 2.2rem;
    width: 2.2rem;
    right:  2.2rem;
    bottom:  2.2rem;
    font-size: 1.5rem;
    text-align: center;
    border: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    cursor: pointer;
    transition:  1s;
}

.top-btn:hover{
    background-color: var(--text-color);
}